extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Valentina Peric

        //- Feel free personalize the title below
        p.lead.text-light
          | Software Engineer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | As a software professional, I have valuable experience building software that a user would be happy to use. With a focus on end users and writing scalable code, I am constantly aiming for mastery in the field of technology. You can find me sitting in a coffee shop learning the latest programming skills, or at a tech event meeting other inspiring individuals. I have a passion and curiosity for this field so lets chat!  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript ES9
          li Angular
          li React
          li Accessibility
          li C#
          li .NET
          li HTML/CSS
          li Sass/Less
          li jQuery
          li Gulp 
          li mySQL
        h6 Contact Info

        //- Add your own contact info
        ul
          li valentinaperic24@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/valentinaperic/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/valentinaperic', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  