extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Valentina Peric

        p.lead.text-light
          | Software Engineer

        .portfolio-bio
          p
            | As a software engineer, I have valuable experience building software that a user would be happy to use. With a focus on end users and writing scalable code, I am constantly aiming for mastery in the field of technology. You can find me sitting in a coffee shop learning the latest programming skills, or at a tech event meeting other inspiring individuals. I have a passion and curiosity for this field so lets chat!  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript ES9
          li Angular
          li React
          li Accessibility
          li C#
          li .NET
          li HTML/CSS
          li Express
          li Node.js
          li Sass/Less
          li jQuery
          li Gulp 
          li mySQL
        h6 Contact Info

        ul
          li valentinaperic24@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/valentinaperic/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/valentinaperic', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  