extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 valentina<em>codes</em>

      p.lead.text-light
        | Hi, I am a software engineer who really enjoys writing code, learning all the things, and sitting in coffee shops. Check out my projects!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      
      each project in data.projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)

            
            h5 #{project.project_name}
      
